@import "./utils.scss";

body {
  background-image: url("https://wallpaperaccess.com/full/19608.jpg"); 
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
 }

.light
  {
    
    box-shadow:0px 0px 10px 1px rgba(50, 135, 200 , 0.46);
}

.lightBackgroun{
  background-color: rgba(205, 205, 205, 0.25);
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}