@import "./utils.scss";


body {
  background-image: url("https://wallpaperaccess.com/full/19608.jpg"); 
  background-color: #000000;
  background-size: cover;
 }

.userBoxContent {
  max-height:55vh ;
  min-height:55vh ;
  .large-img{
    max-height:35vh ;
    min-height:35vh ;  
  }

}

.userNavBar{
  max-height:10vh ;
  min-height:10vh ; 
}  

.light
  {
    box-shadow:0px 0px 10px 1px rgba(50, 135, 200 , 0.46);
}

.lightBackgroun{
  background-color: rgba(205, 205, 205, 0.15);
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}